$toolbar-height: 60px;

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: $toolbar-height;
  display: flex;
  align-items: center;
  background-color: rgba(0,0,0,.87);
  color: white;
  font-weight: 600;
  flex: 0 0 $toolbar-height;
}

.toolbar img {
  margin: 0 16px;
}

.small-logo {
  width: 100px;
}

.spacer {
  flex: 1;
}


.title {
  font-weight: 400;
}

.content {
  display: flex;
  margin: 0;
  margin-top: $toolbar-height;
  // padding: 10px 16px;
  // max-width: 960px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1 1 auto;
  overflow: auto;
}

.content .mat-drawer-container {
  min-height: 300px;
}

.menu-buttons {
  display: flex;
  // flex-wrap: wrap;
  flex-direction: column;
  // justify-content: flex-start;
  // align-items: flex-start;
  // max-width: 600px;
  // min-height: 600px;
}

// .menu-buttons li {
//   margin: 8px 8px 8px 0;
//   float: left;
//   list-style: none;
//   text-align: center;
//   // background-color: #000000;
//   margin-right: 30px;
//   width: 150px;
//   line-height: 60px;
// }
// .menu-buttons li a {
//   text-decoration: none;
//   color: #000000;
//   display: block;
// }
// .menu-buttons li a:hover {
//   text-decoration: none;
//   color: #000000;
//   // background-color: #33B5E5;
// }

.menu-button .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.error {
  color: #F00;
}
