<div class="toolbar" role="banner">
  <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
  <span class="title">Rudders: {{dataService.appName()}}</span>
  <div class="spacer"></div>
    <div *ngIf="!authService.credential()" #googleButton></div>
    <div *ngIf="authService.credential()">
      <img class="profileImg" [src]="authService.credential()?.picture">
    </div>
    <a class="small-logo" aria-label="PAIR" href="https://pair.withgoogle.com/" title="Home">
      <img src="/assets/pair-logo.svg">
    </a>
</div>

<div class="content" role="main">
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" opened="true">
      <mat-nav-list class="menu-buttons">
        <mat-list-item [activated]="router.url == '/'" matListItemTitle routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
          Home
        </mat-list-item>
        <mat-list-item [activated]="router.url == '/settings'" matListItemTitle routerLink="/settings" routerLinkActive="active" ariaCurrentWhenActive="page">
          Settings
        </mat-list-item>
        <!-- <mat-list-item [activated]="router.url == '/data'" matListItemTitle routerLink="/data" routerLinkActive="active" ariaCurrentWhenActive="page">
          Data
        </mat-list-item>
        <mat-list-item [activated]="router.url == '/llm-config'" matListItemTitle routerLink="/llm-config" routerLinkActive="active" ariaCurrentWhenActive="page">
          LLM Config
        </mat-list-item>
        <mat-list-item [activated]="router.url == '/prompts'" matListItemTitle routerLink="/prompts" routerLinkActive="active" ariaCurrentWhenActive="page">
          Prompts
        </mat-list-item> -->
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="page">
      <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
