.main {
}

.item {
  margin-bottom: 5px;
}

.infoBar {
  display: flex;
  align-items: center;
}

.itemsCount {
  display: inline-block;
}

.spacer {
  flex: 1;
}

.infobarItemsSep {
  height: 1em;
}

.searchBlock {
  align-items: center;
  display: flex;
}

.searchChip {
  // font-size: x-small;
  margin-left: 0.5em;
  padding: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius: 5px;
  background-color: #eeeeee;
  border: solid 1px #ddd;
  align-items: center;
  display: flex;
}

.small-icon-button {
  width: 24px !important;
  height: 24px !important;
  padding: 0px !important;
  display: inline-flex !important;
  align-items: center;
  justify-content: center;

  & > *[role=img] {
     width: 16px;
     height: 16px;
     font-size: 16px;

     svg {
        width: 16px;
        height: 16px;
     }
  }

  .mat-mdc-button-touch-target {
     width: 24px !important;
     height: 24px !important;
  }
}
