.main {
}

.buttons {
  margin-top: -20px;
}

.error {
  padding: 5px;
  border-radius: 5px;
  background-color: #FAA;
  border: solid 1px #A00;
  // color: #FF0000;
}

// .minus-button-width {
//   width: calc(100% - 80px);
// }
.search-response-sep {
  height: 20px;
}

.item-text-form {
  min-width: 150px;
  // max-width: 500px;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1 1 auto;
}

.full-width {
  width: 100%;
}
