<div class="main">
  <h2>{{ this.participant.viewingStage().name }} ({{ this.participant.viewingStage().kind }})</h2>
  <div class="exp-stage-content">
    @switch (this.participant.viewingStage().kind) {
      @case (StageKinds.acceptTos) {
        <app-exp-tos></app-exp-tos>
      }
      @case (StageKinds.setProfile) {
        <app-exp-profile></app-exp-profile>
      }
      @case (StageKinds.groupChat) {
        <app-exp-chat></app-exp-chat>
      }
      @case (StageKinds.acceptTosAndSetProfile) {
        <app-exp-tos-and-profile></app-exp-tos-and-profile>
      }
      @case (StageKinds.takeSurvey) {
        <app-exp-survey></app-exp-survey>
      }
      @case (StageKinds.voteForLeader) {
        <app-exp-leader-vote></app-exp-leader-vote>
      }
      @case (StageKinds.revealVoted) {
        <app-exp-leader-reveal></app-exp-leader-reveal>
      }
      @default {
        <div class="error">
          Oh no! It looks like something went wrong, there is no component for
          <span>{{ this.participant.viewingStage().kind }}</span>
        </div>
      }
    }

    @if (this.participant.viewingStage().name !== this.participant.workingOnStage().name) {
      <div class="mask">
        <!-- TODO: should probably disable editing in individual stage components as well -->
      </div>
    }
  </div>


    <button color="primary" [disabled]="!this.shouldShowNextStep()" mat-button (click)="nextStep()">
      <span>Next step</span>
    </button>
  
</div>
