@if (!item) {
  <div>No item given to component</div>
} @else if (mode == 'view') {
<div class="item">
  <div class="bullet">&#8226;</div>
  <div class="item-text"><span class="title">{{item.title}}</span>. <span class="text">{{item.text}}</span></div>
  <button class="small-icon-button hoverBtn" mat-icon-button aria-label="Edit" (click)="editMode()">
    <mat-icon>edit</mat-icon>
  </button>
  <!-- <div class="view-header">
    <div class="spacer"></div>
    <span class="id">id:{{item.id}}</span>
    <span class="timestamp">rank: {{rank}}</span>
    <span class="timestamp">time: {{item.date}}</span>
    <span class="embedding">embed: {{itemEmbeddingStr(item)}}</span>
  </div> -->
</div>
} @else {
  <div>
  <form class="edit-form" (submit)="save()">
    <mat-form-field class="full-width title-input">
      <mat-label>Item Title</mat-label>
      <input matInput [formControl]="itemTitleControl">
    </mat-form-field>
    <mat-form-field class="full-width text-input">
      <mat-label>Item Text</mat-label>
      <textarea matInput [formControl]="itemTextControl"></textarea>
    </mat-form-field>
    @for (key of keys; track $index) {
      <mat-form-field class="full-width key-input">
        <mat-label>Key</mat-label>
        <input matInput [formControl]="keyControls[$index]">
      </mat-form-field>
    }
    <mat-progress-bar *ngIf="waiting" [mode]="'indeterminate'"></mat-progress-bar>
    <div class='error' *ngIf="saveError">{{saveError}}</div>

    <div class="view-header">
      <button type="button" mat-button aria-label="add key" (click)="addKey()">
        <mat-icon>add</mat-icon> add key
      </button>
      <button color="primary" type="submit" mat-flat-button aria-label="Edit">
        save
      </button>
      <button type="button" mat-icon-button aria-label="More actions" [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="deleteItem()">Delete</button>
        <button mat-menu-item (click)="revert()">Revert</button>
        <button mat-menu-item (click)="viewMode()">Cancel</button>
      </mat-menu>
  <!--
      <button class="small-icon-button hoverBtn" mat-icon-button aria-label="Edit" (click)="editMode()">
        <mat-icon>edit</mat-icon>
      </button> -->
      <div class="spacer"></div>
      <div class="details">
        <!-- <span class="id">id:{{item.id}}</span> -->
        <span class="timestamp">rank: {{rank}}</span>
        <span class="timestamp">time: {{item.date}}</span>
        <span class="embedding">embed: {{itemEmbeddingStr(item)}}</span>
      </div>
    </div>
  </form>
  </div>
}
