<div *ngIf="mode == 'view'; else editView" >
<div class="item">
  <div class="item-text"><span>{{item.text}}</span></div>
  <div class="view-header">
    <button class="small-icon-button hoverBtn" mat-icon-button aria-label="Edit" (click)="editMode()">
      <mat-icon>edit</mat-icon>
    </button>
    <div class="spacer"></div>
    <!-- <span class="id">id:{{item.id}}</span> -->
    <span class="timestamp">rank: {{rank}}</span>
    <span class="timestamp">time: {{item.date}}</span>
    <span class="embedding">embed:[{{item.embeddings[item.text][0]}}, {{item.embeddings[item.text][2]}}, {{item.embeddings[item.text][2]}}, ...]</span>
  </div>
</div>
</div>

<ng-template #editView>
  <div>
  <form class="edit-form" (submit)="save()">
    <mat-form-field class="full-width">
      <mat-label>Item Text</mat-label>
      <textarea matInput [formControl]="itemTextControl"></textarea>
    </mat-form-field>
    <mat-progress-bar *ngIf="waiting" [mode]="'indeterminate'"></mat-progress-bar>
    <div class='error' *ngIf="saveError">{{saveError}}</div>

  <div class="view-header">
    <button type="button" mat-icon-button aria-label="More actions" [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="deleteItem()">Delete</button>
      <button mat-menu-item (click)="revert()">Revert</button>
      <button mat-menu-item (click)="viewMode()">Cancel</button>
    </mat-menu>
    <button color="primary" type="submit" mat-flat-button aria-label="Edit">
      save
    </button>
<!--
    <button class="small-icon-button hoverBtn" mat-icon-button aria-label="Edit" (click)="editMode()">
      <mat-icon>edit</mat-icon>
    </button> -->
    <div class="spacer"></div>
    <div class="details">
      <!-- <span class="id">id:{{item.id}}</span> -->
      <span class="timestamp">rank: {{rank}}</span>
      <span class="timestamp">time: {{item.date}}</span>
      <span class="embedding">embed:[{{item.embeddings[item.text][0]}}, {{item.embeddings[item.text][2]}}, {{item.embeddings[item.text][2]}}, ...]</span>
    </div>
  </div>
</form>

</div></ng-template>

<!--
 -->
