.chip {
  display: inline-block;
  padding: 0 2px;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  border-radius: 25px;
  background-color: #eeeeee;
}

.item-and-characteristics {
  padding: 5px;
  flex: 1;
}

.item-title {
  font-weight: 800;
}

.item-details {
  display: flex;
  align-items: center;
  padding-left: 0.5em;
  margin-right: 5px;
}

.item-details-content {
  display: inline-block;
  max-width: 15em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}


.item-text-parts {
  // display: inline;
  margin-bottom: 5px;
  // padding: 5px;
  //
  // padding: 2px;
  // margin: 3px;
  // padding-left: 5px;
  // margin-left: 0px;
  // border-left: solid 1px #ddd;
  //
  // border: solid 1px #ddd;
  // border-radius: 5px;
  // flex: 1;
}

.item-text-parts-header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.item-sentiment {
  display: inline-block;
  margin-right: 5px;
  padding: 1px;
  padding-left: 5px;
  padding-right: 5px;
  max-width: 20em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: smaller;
  // border: 1px solid #ccc;
  // background-color: #eeeeee;
  background-color: #ddd;
  margin-bottom: 10px;
  // font-weight: 800;
  // display: inline-block;
  // margin-right: 5px;
  // padding: 3px;
  // padding-left: 8px;
  // padding-right: 8px;
  // max-width: 10em;
  // white-space: nowrap;
  // font-size: smaller;
  // border-radius: 25px;
  // background-color: #eeeeee;
}

.item-characteristics {
  // margin-top: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  // line-height: 105%;
}
.characteristic {
  display: inline-block;
  margin-right: 5px;
  padding: 3px;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 20em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: smaller;
  border-radius: 25px;
  background-color: #eeeeee;
  margin-bottom: 10px;
}

.id {
  font-size: x-small;
  display: inline-block;
  padding: 2px;
  // padding-top: 1px;
  // padding-bottom: 1px;
  // border-radius: 5px;
  // background-color: #eeeeee;
  // border: solid 1px #ddd;
  min-width: 5em;
  max-width: 15em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.timestamp {
  margin-left: 1em;
  font-size:x-small;
  display: inline-block;
  padding: 2px;
  // padding-top: 1px;
  // padding-bottom: 1px;
  // border-radius: 5px;
  // background-color: #eeeeee;
  // border: solid 1px #ddd;
  min-width: 5em;
  max-width: 15em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.embedding {
  margin-left: 1em;
  font-size: x-small;
  display: inline-block;
  padding: 2px;
  // padding-top: 1px;
  // padding-bottom: 1px;
  // border-radius: 5px;
  // background-color: #eeeeee;
  // border: solid 1px #ddd;
  min-width: 5em;
  max-width: 25em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.full-width {
  width: 100%;
}

.text {
  display: inline-block;
}

.error {
  padding: 5px;
  border-radius: 5px;
  background-color: #FAA;
  border: solid 1px #A00;
}

.view-header {
  display: flex;
  align-items: center;
  margin-top: -1px;
}

.details {
  align-self: flex-start;
  display: flex;
  align-items: flex-start;
}

.edit-form {
  margin-bottom: 20px;
  border: solid 2px #ddd;
  border-radius: 5px;
  padding: 10px;
}

.edit-form mat-form-field {
  // margin-bottom: -10px;
}

.characteristics-input-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.title-input {
  font-weight: 800;
}

// .text {
//   flex: 1;
// }

.text-input {
  font-size: small;
}

.key-input {
  font-size: small;
}

.item {
  display: flex;
}

.bullet {
  padding: 5px;
}

// hoverBtn appears when mouse hovers over view.
.item .hoverBtn {
  opacity: 0.0;
  transition: opacity .5s ease-out;
  -moz-transition: opacity .5s ease-out;
  -webkit-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;
}

.item:hover .hoverBtn {
  opacity: 1.0;
}

.spacer {
  flex: 1;
}

.small-icon-button {
  width: 24px !important;
  height: 24px !important;
  padding: 0px !important;
  display: inline-flex !important;
  align-items: center;
  justify-content: center;

  & > *[role=img] {
     width: 16px;
     height: 16px;
     font-size: 16px;

     svg {
        width: 16px;
        height: 16px;
     }
  }

  .mat-mdc-button-touch-target {
     width: 24px !important;
     height: 24px !important;
  }
}
