@if (!isOpen()) {
<div class="item">
  <div class="bullet">&#8226;</div>
  <div class="item-and-characteristics">
    <div class="item-text-parts">
      <div class="item-text-parts-header">
        <span class="item-title">{{this.dataItem().entityTitle}}</span>
      </div>
      <div>
        <span class="item-text">{{this.dataItem().text}}</span>
      </div>
    </div>
    <div class="item-characteristics">
      <span class="item-sentiment">{{this.dataItem().sentiment}}</span>
      @for (key of keys; track $index) {
        <span class="characteristic">{{key}}</span>
      }
    </div>
  </div>

  <button class="small-icon-button hoverBtn" mat-icon-button aria-label="Edit" (click)="openEditMode()">
    <mat-icon>edit</mat-icon>
  </button>
  <!-- <div class="view-header">
    <div class="spacer"></div>
    <span class="id">id:{{item.id}}</span>
    <span class="timestamp">rank: {{rank}}</span>
    <span class="timestamp">time: {{item.date}}</span>
    <span class="embedding">embed: {{itemEmbeddingStr(item)}}</span>
  </div> -->
</div>
} @else {
  <div class="edit-form">
  <form (submit)="save()">
    <mat-form-field class="full-width text-input">
      <mat-label>Experience Description</mat-label>
      <textarea matInput [ngModelOptions]="{standalone: true}" [ngModel]="this.dataItem().text" (ngModelChange)="setText($event)"></textarea>
    </mat-form-field>
    <mat-form-field class="full-width title-input">
      <mat-label>Title (name of movie, place, etc)</mat-label>
      <input matInput [ngModelOptions]="{standalone: true}" [ngModel]="this.dataItem().entityTitle" (ngModelChange)="setTitle($event)">
    </mat-form-field>
    <mat-form-field class="text-input">
      <mat-label>Liked or Disliked?</mat-label>
      <input matInput [ngModelOptions]="{standalone: true}" [ngModel]="this.dataItem().sentiment" (ngModelChange)="setSentiment($event)">
    </mat-form-field>
    <div class="characteristics-input-list">
    @for (key of keys; track $index) {
      <mat-form-field class="key-input">
        <mat-label>Characteristic</mat-label>
        <input matInput [ngModelOptions]="{standalone: true}" [ngModel]="key" (ngModelChange)="keys[$index] = $event">
      </mat-form-field>
    }
    <button type="button" mat-icon-button aria-label="add key" (click)="addKey()">
      <mat-icon>add</mat-icon>
    </button>
    </div>
    <mat-progress-bar *ngIf="waiting" [mode]="'indeterminate'"></mat-progress-bar>
    <div class='error' *ngIf="saveError">{{saveError}}</div>

    <div class="view-header">
      <button type="button" (click)="cancelEdit()" mat-flat-button aria-label="Cancel">Cancel</button>
      <button color="primary" type="submit" mat-flat-button aria-label="Edit">
        Save
      </button>
  <!--
      <button class="small-icon-button hoverBtn" mat-icon-button aria-label="Edit" (click)="editMode()">
        <mat-icon>edit</mat-icon>
      </button> -->
      <div class="spacer"></div>
      <div class="details">
        <!-- <span class="id">id:{{item.id}}</span> -->
        <span class="timestamp">rank: {{rank}}</span>
        <span class="timestamp">time: {{this.dataItem().date}}</span>
        <span class="embedding">embed: {{itemEmbeddingStr(this.dataItem())}}</span>
      </div>
      <button type="button" mat-icon-button aria-label="More actions" [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button type="button" mat-menu-item (click)="deleteItem()">Delete</button>
        <button type="button" mat-menu-item (click)="revert()">Revert</button>
        <button type="button" mat-menu-item (click)="interpretFromText()">Interpret from text</button>
      </mat-menu>
    </div>
  </form>
  </div>
}
