.chip {
  display: inline-block;
  padding: 0 2px;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  border-radius: 25px;
  background-color: #eeeeee;
}

.id {
  font-size:x-small;
  display: inline-block;
  padding: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius: 5px;
  background-color: #eeeeee;
  border: solid 1px #ddd;
}

.timestamp {
  font-size:x-small;
  display: inline-block;
  padding: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius: 5px;
  background-color: #eeeeee;
  border: solid 1px #ddd;
}

.full-width {
  width: 100%;
}

.text {
  display: inline-block;
  padding: 5px;
  border: solid 1px #ddd;
  border-radius: 5px;
}

.embedding {
  display: inline-block;
  padding: 5px;
  border: solid 1px #ddd;
  border-radius: 5px;
  font-size: 12px;
  max-width: 15em;
}

.error {
  padding: 5px;
  border-radius: 5px;
  background-color: #FAA;
  border: solid 1px #A00;
  // color: #FF0000;
}

.smallBtn {
  // --mdc-icon-button-icon-size: 16px;
  transform: scale(0.75);
  // font-size: 12px;
  // width: 100%;
}


.view .hoverSmallBtn {
  opacity: 0.0;
  transition: opacity .5s ease-out;
  -moz-transition: opacity .5s ease-out;
  -webkit-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;
}

.view:hover .hoverSmallBtn {
  opacity: 1.0;
}
