.main {
}

.full-width {
  width: 100%;
}

.error {
  color: #990000;
  border-radius: 5px;
  border: solid 1px #990000;
  background-color: #FBB;
  padding: 5px;
}

.row {
  display: flex;
}

.spacer {
  flex: 1;
}
