.main {
}

.full-width {
  width: 100%;
}

.error {
  color: #990000;
  border-radius: 5px;
  border: solid 1px #990000;
  background-color: #fbb;
  padding: 5px;
}

.row {
  display: flex;
}

.spacer {
  flex: 1;
}

mat-form-field {
  width: 420px;
}

.code-full-screen {
  margin: 0px;
  margin-top: 10px;
  flex: 1 1 auto;
  height: 100%;
  width: 100%;
  background-color: #eee;
}
