<div class="main">
  <form class="settings-form">
    <div>
      <mat-form-field class="full-width">
        <mat-label>App Name</mat-label>
        <input matInput placeholder="Write a name for your app" [formControl]="appNameControl" />
      </mat-form-field>
    </div>
    <div class="row">
      <div class="appinfo">
        App data: <span>{{ sizeString() }}</span>
      </div>
      <div class="spacer"></div>
      <button mat-button color="warn" (click)="reset()">Clear all data</button>
    </div>
    <button mat-button aria-label="Download" (click)="download(downloadLink)">
      <mat-icon>download</mat-icon> Download a snapshot
      <a hidden #downloadLink [download]="downloadName()" target="_top"></a>
    </button>
    <button mat-button aria-label="Save to Google Drive" (click)="saveToGoogleDrive()">
      <mat-icon>save</mat-icon> Save to Google Drive
    </button>
    @if (waiting) {
      <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
    }
    @if (errorMessage && errorCount > 1) {
      <div class="error">There are {{ errorCount }} errors. The first error is: {{ errorMessage }}</div>
    } @else if (errorMessage) {
      <div class="error">
        {{ errorMessage }}
      </div>
    }
  </form>

  <!-- <br /> -->
  <!-- <mat-form-field>
    <mat-label>Current user</mat-label>
    <mat-select [formControl]="currentUserIdControl">
      @for (userId of usersList; track userId) {
        <mat-option [value]="userId">{{ userId }}</mat-option>
      }
    </mat-select>
  </mat-form-field> -->

  <div class="code-full-screen">
    <app-codemirror-config-editor
      (update)="configUpdated($event)"
      whatIsBeingEditedName="Configuration"
      [closable]="false"
      [defaultConfig]="defaultDataStr"
      [config]="currentDataStr"
    ></app-codemirror-config-editor>
  </div>
</div>
