<div class="toolbar" role="banner">
  <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
  <span class="title">Experiment: {{ stateService.appName() }}</span>
  <div class="spacer"></div>
  <div class="current-user">Current user: {{ participant.userData().userId }}</div>
  <a class="small-logo" aria-label="PAIR" href="https://pair.withgoogle.com/" title="Home">
    <img src="/assets/pair-logo.svg" alt="PAIR logo" />
  </a>
</div>

<div class="content" role="main">
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" opened="true">
      <mat-nav-list class="menu-buttons">
        @for (stageName of participant.userData().completedStageNames; track stageName) {
          <mat-list-item
            matListItemTitle
            [routerLink]="['/']"
            [queryParams]="{ stage: stageName }"
            [class.highlighted]="participant.viewingStage().name === stageName"
            ariaCurrentWhenActive="page"
            class="menu-item"
          >
            <!-- (click)="updateCurrentStageName(stageName)" -->
            <div class="menu-item-inner">
              {{ stageName }}
              <mat-icon class="icon completed" fontIcon="check"></mat-icon>
            </div>
          </mat-list-item>
        }
        <mat-list-item
          matListItemTitle
          [routerLink]="['/']"
          ariaCurrentWhenActive="page"
          #rla="routerLinkActive"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive
          class="menu-item working-on-stage"
          [class.highlighted]="
            participant.viewingStage().name === participant.workingOnStage().name && rla.isActive
          "
        >
          <div class="menu-item-inner">
            {{ participant.workingOnStage().name }}
            <div class="ongoing-badge">ongoing</div>
          </div>
        </mat-list-item>
        @for (stageName of participant.userData().futureStageNames; track stageName) {
          <mat-list-item
            [disabled]="true"
            [activated]="false"
            matListItemTitle
            ariaCurrentWhenActive="page"
            class="menu-item future-stage"
          >
            {{ stageName }}
          </mat-list-item>
        }
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="page">
        <app-participant-stage-view></app-participant-stage-view>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
