<div>
  <h2 style="white-space: pre-wrap">
    {{ question.data.questionText }}
  </h2>
</div>
<!-- create a slider -->
<table>
  <tr>
    <td class="bound">{{ question.data.lowerBound }}</td>
    <td>
      <mat-slider min="0" max="10" step="1" showTickMarks discrete>
        <input
          matSliderThumb
          (valueChange)="setSliderValue($event)"
          [value]="question.data.score"
        />
      </mat-slider>
    </td>
    <td class="bound">{{ question.data.upperBound }}</td>
  </tr>
</table>
