/* You can add global styles to this file, and also import other style files */
@import '~jsoneditor/dist/jsoneditor.min.css';

.ace_editor.ace-jsoneditor {
  min-height: 300px;
  width: 100%;
}

json-editor {
  width: 100%;
}

.jsoneditor {
  border-color: #ccc;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
