<div class="main">
  <h2>Terms of Service</h2>
  <p>Please read and accept the following terms of service before proceeding:</p>

  <ul>
    <li>Term 1: Lorem ipsum dolor sit amet.</li>
    <li>Term 2: Consectetur adipiscing elit.</li>
    <!-- Add more terms as needed -->
  </ul>

  <mat-checkbox required (change)="updateCheckboxValue($event)"> I accept the terms of service </mat-checkbox>

  <h2>Profile Setting</h2>
  <p>Please select your preferred pronouns. This will be used to refer to you in the app.</p>

  <mat-radio-group class="pronouns-radio-group" (change)="updatePronouns($event)">
    <mat-radio-button class="pronouns-radio-button" value="She/Her">She/Her</mat-radio-button>
    <mat-radio-button class="pronouns-radio-button" value="They/Them">They/Them</mat-radio-button>
    <mat-radio-button class="pronouns-radio-button" value="He/Him">He/Him</mat-radio-button>
  </mat-radio-group>

  <p>
    <br />
    <br />
    Please select your pseudo. This will be used to refer to you in the app.
  </p>

  <form class="settings-form">
    <mat-form-field class="full-width">
      <mat-label>My Name</mat-label>
      <input matInput placeholder="Write your response" [formControl]="responseControl" />
    </mat-form-field>
  </form>

  <p>
    <br />
    <br />
    Please select your avatar. This will be used to refer to you in the app.
  </p>

  <mat-radio-group class="avatar-radio-group" (change)="updateAvatarUrl($event)">
    <mat-radio-button class="avatar-radio-button" value="/assets/avatars/she.png">
      <img src="/assets/avatars/she.png" alt="Avatar Female" width="72" height="77" />
    </mat-radio-button>
    <mat-radio-button class="avatar-radio-button" value="/assets/avatars/they.png">
      <img src="/assets/avatars/they.png" alt="Avatar Neutral" width="72" height="77" />
    </mat-radio-button>
    <mat-radio-button class="avatar-radio-button" value="/assets/avatars/he.png">
      <img src="/assets/avatars/he.png" alt="Avatar Male" width="72" height="77" />
    </mat-radio-button>
  </mat-radio-group>
</div>
