.main {
  padding: 2rem 1rem;
}

label {
  font-weight: bold;
  -webkit-user-select: none;
  user-select: none;
}

.pronouns-radio-group {
  display: flex;
  align-items: center;

  .pronouns-radio-button {
    margin: 5px;
    -webkit-user-select: none;
    user-select: none;
  }
}

.avatar-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.avatar-radio-button {
  margin: 5px;
}