<div>Mediator Chat View</div>

<div class="messages">
  @for (message of messages(); track $index) {
    <div class="message">
      @if (message.messageType === 'userMessage') {
        <app-chat-user-message [message]="message"></app-chat-user-message>
      } @else if (message.messageType === 'mediatorMessage') {
        <app-chat-mediator-message [message]="message"></app-chat-mediator-message>
      } @else if (message.messageType === 'discussItemsMessage') {
        <app-chat-discuss-items-message [discussItemsMessage]="message"></app-chat-discuss-items-message>
      } @else {
        <div></div>
      }
    </div>
  }
</div>

<div class="message-form">
  <h4> Select a pair of item to send to the chat participants </h4>

  @if (itemPair().item1 == itemPair().item2){
    <div class="error-message">
      Please select two different items
    </div>
  }
  <!-- select pair of items --> 
  <mat-form-field>
    <mat-label>Item 1</mat-label>
    <mat-select [(value)]="itemPair().item1" (selectionChange)="updateItemPair($event, 1)" required>
      @for (item of items(); track item) {
        <!-- @if (item != itemPair().item2){ -->
          <mat-option [value]="item">
            <div class="item-pair">
              <img src="{{item.imageUrl}}" alt="{{item.name}}" width="20px" /> {{item.name}}
            </div>
          </mat-option>
        <!-- } -->
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Item 2</mat-label>
    <mat-select [(value)]="itemPair().item2" (selectionChange)="updateItemPair($event, 2)" required>
      @for (item of items(); track item) {
        <!-- @if (item != itemPair().item1){ -->
          <mat-option [value]="item">
            <div class="item-pair">
              <img src="{{item.imageUrl}}" alt="{{item.name}}" width="20px" /> {{item.name}}
            </div>
          </mat-option>
        <!-- } -->
      }
    </mat-select>
  </mat-form-field>

  
  <mat-form-field class="full-width">
    <mat-label>Instructions to send</mat-label>
    <input matInput placeholder="Write your response" [(ngModel)]="instructions" />
  </mat-form-field>
  

  <button color="primary" mat-button (click)="sendRatingToDiscuss()" [disabled]="itemPair().item1 == itemPair().item2">
    <!-- <mat-icon>redo</mat-icon> -->
    <span>Send</span>
  </button>
</div>

<div class="message-form">
  <h4> Send any message to the chat </h4>
  <mat-form-field class="full-width">
    <mat-label>Message to send</mat-label>
    <input matInput placeholder="Write your response" [(ngModel)]="message" />
  </mat-form-field>
  <button color="primary" mat-button (click)="sendMessage()">
    <!-- <mat-icon>redo</mat-icon> -->
    <span>Send</span>
  </button>
</div>

<div>
  <h4> Send automatic mediating intervention to the chat </h4>
  <button color="primary" mat-button (click)="sendLLMMessage()">
    <span>Send</span>
  </button>
</div>
