<div class="toolbar" role="banner">
  <span class="title">Experiment: {{ dataService.appName() }}</span>
  <div class="spacer"></div>
  @if (authService.credential(); as creds) {
    <div>
      <img class="profileImg" [src]="creds.picture" alt="profile picture" />
    </div>
  } @else {
    <div #googleButton></div>
  }
  <a class="small-logo" aria-label="PAIR" href="https://pair.withgoogle.com/" title="Home">
    <img src="/assets/pair-logo.svg" alt="PAIR logo" />
  </a>
</div>

<div class="content" role="main">
  @if (authService.credential(); as creds) {
    <div>
      <p>You are signed in with: {{ creds.email }}</p>
      <p>This account is an admin account, and can create and modify experiments.</p>
      @for (e of experiments; track e.name) {
        <div>
          {{ e.name }}
        </div>
      }
    </div>
  }
</div>
