<div class="toolbar" role="banner">
  <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
  <span class="title">Experiment: {{ dataService.appName() }}</span>
  <div class="spacer"></div>
  <div *ngIf="!authService.credential()" #googleButton></div>
  <div *ngIf="authService.credential()">
    <img class="profileImg" [src]="authService.credential()?.picture" alt="profile picture" />
  </div>
  <a class="small-logo" aria-label="PAIR" href="https://pair.withgoogle.com/" title="Home">
    <img src="/assets/pair-logo.svg" alt="PAIR logo" />
  </a>
</div>

<div class="content" role="main">
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" opened="true">
      <mat-nav-list class="menu-buttons">
        @for (stageName of dataService.user().completedStageNames; track stageName) {
          <mat-list-item
            [activated]="false"
            matListItemTitle
            routerLink="/"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
          >
            {{ stageName }}
          </mat-list-item>
        }
        <mat-list-item
          [activated]="false"
          matListItemTitle
          routerLink="/"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
        >
          {{ currentStageName() }}
        </mat-list-item>
        @for (stageName of dataService.user().futureStageNames; track stageName) {
          <mat-list-item
            [disabled]="true"
            [activated]="false"
            matListItemTitle
            routerLink="/"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
          >
            {{ stageName }}
          </mat-list-item>
        }
        <mat-list-item
          [activated]="router.url === '/settings'"
          matListItemTitle
          routerLink="/settings"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
        >
          <div class="icon-menu-item"><mat-icon>settings</mat-icon>Settings</div>
        </mat-list-item>
        <br />
        <mat-form-field>
          <mat-label>Current user</mat-label>
          <mat-select [value]="currentUserId()" (selectionChange)="setCurrentUser($event)">
            @for (userId of usersList; track userId) {
              <mat-option [value]="userId">{{ userId }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <!-- <mat-list-item [activated]="router.url == '/data'" matListItemTitle routerLink="/data" routerLinkActive="active" ariaCurrentWhenActive="page">
          Data
        </mat-list-item>
        <mat-list-item [activated]="router.url == '/llm-config'" matListItemTitle routerLink="/llm-config" routerLinkActive="active" ariaCurrentWhenActive="page">
          LLM Config
        </mat-list-item>
        <mat-list-item [activated]="router.url == '/prompts'" matListItemTitle routerLink="/prompts" routerLinkActive="active" ariaCurrentWhenActive="page">
          Prompts
        </mat-list-item> -->
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="page">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
