<div class="messages">
  @for (message of messages(); track $index) {
    <div class="message">
      @if (message.messageType === 'userMessage') {
        <app-chat-user-message [message]="message"></app-chat-user-message>
      } @else if (message.messageType === 'mediatorMessage') {
        <app-chat-mediator-message [message]="message"></app-chat-mediator-message>
      } @else if (message.messageType === 'discussItemsMessage') {
        <app-chat-discuss-items-message></app-chat-discuss-items-message>
      } @else {
        <div></div>
      }
    </div>
  }
</div>

<div class="message-form">
  <mat-form-field class="full-width">
    <mat-label>Message to send</mat-label>
    <input matInput placeholder="Write your message" [(ngModel)]="message" />
  </mat-form-field>
  <button color="primary" mat-button (click)="sendMessage()">
    <!-- <mat-icon>redo</mat-icon> -->
    <span>Send</span>
  </button>
</div>
