.flex-container {
    /* We first create a flex layout context */
    display: flex;
    
    /* Then we define the flow direction 
       and if we allow the items to wrap 
     * Remember this is the same as:
     * flex-direction: row;
     * flex-wrap: wrap;
     */
    flex-flow: column wrap;
    
    /* Then we define how is distributed the remaining space */
    //justify-content: space-around;
    
    //padding: 0;
    margin: 0;
    list-style: none;
    //align-items: center;
  
     //display: inline-block;
    margin-bottom: 10px;
    padding: 10px;
    width: 540px;;
  
    background: #ffffff4c;
    border-radius: 2px;

    .title {
        width: 100%;
        font-size: 1rem;
        margin-bottom: 10px;
    }
}

.message-form {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    //justify-content: center;
    //padding: 20px;
    }

.container {
    display: flex;
    flex-flow: row wrap;
    //padding: 10px;
    justify-content: flex-start;
    }

.profile {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    padding: 10px;
    }

.avatar {
    border-radius: 50%;
    width: 40px;
    }

.chat-members {
    width: 100%;
    margin-bottom: 20px;
    }

.item-pair-displays {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .item-pair-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 16px;
        border-radius: 16px;
        box-sizing: border-box;
        border: 4px solid transparent;
        margin: 0px 6px;
        cursor: pointer;
        transition: all 0.1s ease-in-out;

        img {
        border-radius: 4px;
        padding: 5px;
        width: 150px;
        height: 150px;
        object-fit: contain;
        }

        .item-pair-item-name {
        font-size: 1rem;
        margin-top: 5px;
        }
    }
}