<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<div class="main">
  @for (question of questions(); track question; let questionIdx = $index) {
    @if (question.data.kind === SurveyQuestionKind.CHECK) {
      <app-survey-check-question [question]="question"></app-survey-check-question>
    } @else if (question.data.kind === SurveyQuestionKind.TEXT) {
      <app-survey-text-question [question]="question"></app-survey-text-question>
    } @else if (question.data.kind === SurveyQuestionKind.RATING) {
      <app-survey-rating-question [question]="question"></app-survey-rating-question>
    } @else if (question.data.kind === SurveyQuestionKind.SCALE) {
      <app-survey-scale-question [question]="question"></app-survey-scale-question>
    }
  }
</div>
