<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<div class="main">
  <h2>Create an experiment:</h2>

  <div class="container">
    <div cdkDropList class="stage-list" (cdkDropListDropped)="drop($event)">
      @for (stageData of existingStages; track $index) {
        <div
          class="stage-container {{ $index === currentEditingStageIndex && 'active' }}"
          (click)="navigateToStage($index)"
          cdkDrag
        >
          <div class="stage-idx">{{ $index + 1 }}.</div>
          <div class="stage-content">
            {{ !stageData.name || stageData.name.length === 0 ? 'Unnamed stage' : stageData.name }}
          </div>
          <div class="stage-delete">
            <button mat-icon-button (click)="deleteStage($event, $index)">
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </div>
      }

      <br />
      <button mat-button (click)="addNewStage()"><mat-icon>add</mat-icon> Add a stage</button>
      <br />
      <button mat-raised-button color="warn" (click)="resetExistingStages()">Reset all</button>
    </div>

    <mat-card class="stage-creation-container">
      <div class="main-content">
        <div class="stage-kind-selection">
          <h3>Stage kind:</h3>
          &nbsp;&nbsp;&nbsp;
          <div class="form-element-wrapper">
            <mat-form-field class="mat-form-field">
              <mat-label>Choose a stage:</mat-label>
              <mat-select [(ngModel)]="currentEditingStage.kind" (selectionChange)="onChange($event)">
                @for (kind of availableStageKinds; track kind) {
                  <mat-option [value]="kind">{{ kind }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="stage-name-edit">
          <h3>Stage name:</h3>
          &nbsp;&nbsp;&nbsp;
          <div class="form-element-wrapper">
            <mat-form-field class="mat-form-field">
              <input
                matInput
                type="text"
                placeholder="Welcome to the experiment!"
                [(ngModel)]="currentEditingStage.name"
                (input)="onChange($event)"
              />
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="tool-bar">
        @if (hasUnsavedData) {
          <div class="unsaved-warning">(Unsaved data)</div>
        }
        <button mat-raised-button color="primary" (click)="persistExistingStages()">Save data</button>
      </div>
    </mat-card>
  </div>

  <div class="stage-view">
    <div class="sub-view reference-view">
      <h4>Reference stage config:</h4>
      <div class="code-wrapper">
        <pre>{{ currentStageOracleConfigString }}</pre>
      </div>
    </div>
    <div class="sub-view creation-view">
      <h4>Edit stage config:</h4>
      <json-editor [options]="editorOptions" [data]="data" (change)="updatedData($event)" #editor></json-editor>
    </div>
  </div>

  <div class="navigation">
    <button mat-button (click)="previousStage()" [disabled]="creationIndex === 0">Previous stage</button>

    <span> {{ currentStage && currentStage!.name }} (Stage {{ creationIndex + 1 }}) </span>

    <button mat-button (click)="nextStage()" [disabled]="creationIndex === oracleStages.length - 1">Next stage</button>
  </div>

  <div class="toolbar">
    <button mat-raised-button color="warn" (click)="resetAll()">Reset all stage data & start over</button>
    &nbsp;&nbsp;&nbsp;
    <button mat-raised-button color="primary" (click)="makeExperiment()">
      Make experiment with the current stage data!
    </button>
  </div>
</div>
