.main {
  padding: 1rem;
}

.container {
  display: flex;
  width: 100%;
  height: 80vh;
}

.stage-list {
  // background-color: #999;
  width: 250px;
  padding-right: 20px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  overflow: auto;

  button {
    flex-shrink: 0;
  }
}

.stage-container,
.cdk-drag-preview {
  box-sizing: border-box;
  width: 100%;
  margin: 0px;
  // padding: 0.75rem 1rem;
  font-size: 0.9rem;
  background-color: #efefef;
  cursor: pointer;
  display: flex;
  align-items: center;

  &:hover {
    background-color: #ddd;
  }

  &.active {
    background-color: #ccc;
  }
}

.stage-idx {
  margin-right: 8px;
  height: 100%;
  width: 24px;
  background-color: #0ee9ed4b;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stage-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  transform: scale(0.8);
  opacity: 0.8;

  .unknow-stage-kind {
    color: #ce4200;
  }
}

.stage-content {
  min-height: 30px;
  display: flex;
  align-items: center;
  flex: 1;
}

.stage-delete {
  opacity: 0.7;
}

.stage-creation-container {
  flex: 1;
  padding: 1rem 1.5rem;

  display: flex;
  flex-direction: column;

  .main-content {
    flex: 1;
    height: 90%;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .form-element-wrapper {
      min-width: 350px;

      .mat-form-field {
        width: 100%;
      }
    }
  }

  .tool-bar {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .unsaved-warning {
      margin: 1rem;
      color: #ed5109;
    }
  }
}

.warning {
  color: #ed5109;
}

.stage-name-edit {
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

.stage-kind-selection {
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

.config-title {
  display: flex;
  align-items: center;

  h3 {
    margin: 0;
  }

  .fill {
    flex: 1;
  }
  margin-bottom: 10px;
}

.config-wrapper {
  flex: 1;
  overflow: auto;
}

.tos-lines {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .tos-line {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 0.25rem;

    .mat-form-field {
      flex: 1;
    }
  }
}

.survey-questions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .question {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem 0rem;
    box-sizing: border-box;
    border-bottom: 1px dashed lightgray;

    .question-index {
      flex-shrink: 0;
      margin-right: 1rem;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      .move-button {
        margin: 12px 0px;
        cursor: pointer;
        opacity: 0.5;
        transform: scale(0.7);
        transition: all 0.1s ease-in-out;

        &:hover {
          opacity: 1;
        }
      }
    }

    .question-fields {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      flex: 1;

      .mat-form-field {
        margin-bottom: -6px;
      }

      .question-rating-items {
        display: flex;
        align-items: center;

        .item-pair {
          flex: 1;
          display: flex;
          align-items: center;

          .question-rating-item {
            flex-basis: 45%;
            display: flex;
            flex-direction: column;
            padding: 5px;
          }
        }
      }
    }
  }
}

.stage-view {
  width: 100%;
  display: flex;
  flex-direction: column;
  // align-items: stretch;

  .sub-view {
    padding: 0.5rem;
  }

  .reference-view {
    max-height: 300px;
    overflow: auto;

    pre {
      height: 100%;
      width: 100%;
      font-size: 12px;
      line-height: 1rem;
    }
  }

  .creation-view {
    border-top: thin solid #ccc;
  }
}

.navigation {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toolbar {
  margin: 1.5rem 0rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging .stage-container:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
