.main {
  padding: 1rem;
}

.container {
  display: flex;
  width: 100%;
  height: 80vh;
}

.stage-list {
  // background-color: #999;
  width: 250px;
  padding-right: 20px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  overflow: auto;

  button {
    flex-shrink: 0;
  }
}

.stage-container,
.cdk-drag-preview {
  box-sizing: border-box;
  width: 100%;
  margin: 0px;
  // padding: 0.75rem 1rem;
  font-size: 0.9rem;
  background-color: #efefef;
  cursor: pointer;
  display: flex;
  align-items: center;

  &:hover {
    background-color: #ddd;
  }

  &.active {
    background-color: #ccc;
  }
}

.stage-idx {
  margin-right: 8px;
  height: 100%;
  width: 24px;
  background-color: #0ee9ed4b;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stage-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  transform: scale(0.8);
  opacity: 0.8;

  .unknow-stage-kind {
    color: #ce4200;
  }
}

.stage-content {
  min-height: 30px;
  display: flex;
  align-items: center;
  flex: 1;
}

.stage-delete {
  opacity: 0.7;
}

.stage-creation-container {
  flex: 1;
  padding: 1rem 1.5rem;

  display: flex;
  flex-direction: column;

  .main-content {
    flex: 1;

    .form-element-wrapper {
      min-width: 350px;

      .mat-form-field {
        width: 100%;
      }
    }
  }

  .tool-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .unsaved-warning {
      margin: 1rem;
      color: #ed5109;
    }
  }
}

.stage-name-edit {
  display: flex;
  align-items: center;
}

.stage-kind-selection {
  display: flex;
  align-items: center;
}

.tos-lines {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .tos-line {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;

    .mat-form-field {
      flex: 1;
    }
  }
}

.stage-view {
  width: 100%;
  display: flex;
  flex-direction: column;
  // align-items: stretch;

  .sub-view {
    padding: 0.5rem;
  }

  .reference-view {
    max-height: 300px;
    overflow: auto;

    pre {
      height: 100%;
      width: 100%;
      font-size: 12px;
      line-height: 1rem;
    }
  }

  .creation-view {
    border-top: thin solid #ccc;
  }
}

.navigation {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toolbar {
  margin: 1.5rem 0rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

// .cdk-drag-preview {
//   box-sizing: border-box;
//   width: 100%;
//   margin: 0px;
//   padding: 0.75rem 1rem;
//   font-size: 0.9rem;
//   background-color: #666;
//   color: #fff;
//   cursor: pointer;
//   display: flex;
//   align-items: center;
// }

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging .stage-container:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
