@if (error() == null) {
<div class="main">
    <h2>Profile Setting</h2>
    <p>
        Please select your preferred pronouns. This will be used to refer to you in the app.
    </p>

    <mat-radio-group class="pronouns-radio-group" (change)="updatePronouns($event)">
        <mat-radio-button class="pronouns-radio-button" value="She/Her">She/Her</mat-radio-button>
        <mat-radio-button class="pronouns-radio-button" value="They/Them">They/Them</mat-radio-button>
        <mat-radio-button class="pronouns-radio-button" value="He/Him">He/Him</mat-radio-button>
    </mat-radio-group>

    <p>
        <br>
        <br>
        Please select your pseudo. This will be used to refer to you in the app.
    </p>

    <form class="settings-form">
        <mat-form-field class="full-width">
          <mat-label>My Name</mat-label>
          <input matInput placeholder="Write your response" [formControl]="responseControl">
        </mat-form-field>
    </form>

    <p>
        <br>
        <br>
        Please select your avatar. This will be used to refer to you in the app.
    </p>

    <mat-radio-group class="avatar-radio-group" (change)="updateAvatarUrl($event)">
        <mat-radio-button class="avatar-radio-button" value="/assets/avatars/she.png"><img src="/assets/avatars/she.png" alt="Avatar Female" width="72" height="77" /></mat-radio-button> 
        <mat-radio-button class="avatar-radio-button" value="/assets/avatars/they.png"><img src="/assets/avatars/they.png" alt="Avatar Neutral" width="72" height="77" /></mat-radio-button>
        <mat-radio-button class="avatar-radio-button" value="/assets/avatars/he.png"><img src="/assets/avatars/he.png" alt="Avatar Male" width="72" height="77" /></mat-radio-button>
    </mat-radio-group>

    


</div>
} @else {
  <div class="error">
    {{error()}}
  </div>
}
