<div class="main">
  <h2>{{ this.participant.viewingStage().name }} ({{ this.participant.viewingStage().kind }})</h2>
  <div class="exp-stage-content">
    @if (this.participant.viewingStage().kind === stageKinds.STAGE_KIND_ACCEPT_TOS) {
      <app-exp-tos></app-exp-tos>
    } @else if (this.participant.viewingStage().kind === stageKinds.STAGE_KIND_PROFILE) {
      <app-exp-profile></app-exp-profile>
    } @else if (this.participant.viewingStage().kind === stageKinds.STAGE_KIND_CHAT) {
      <app-exp-chat></app-exp-chat>
      <!-- } @else if (this.dataService.currentStage().kind === stageKinds.STAGE_KIND_RANKED_ITEMS) {
      <app-exp-rating></app-exp-rating> -->
    } @else if (this.participant.viewingStage().kind === stageKinds.STAGE_KIND_TOS_AND_PROFILE) {
      <app-exp-tos-and-profile></app-exp-tos-and-profile>
    } @else if (this.participant.viewingStage().kind === stageKinds.STAGE_KIND_SURVEY) {
      <app-exp-survey></app-exp-survey>
    } @else if (this.participant.viewingStage().kind === stageKinds.STAGE_KIND_VOTES) {
      <app-exp-leader-vote></app-exp-leader-vote>
    } @else if (this.participant.viewingStage().kind === stageKinds.STAGE_KIND_LEADER_REVEAL) {
      <app-exp-leader-reveal></app-exp-leader-reveal>
    } @else {
      <div>
        Oh no! It looks like something went wrong, there is no component for
        <span>{{ this.participant.viewingStage().kind }}</span>
      </div>
    }

    @if (this.participant.viewingStage().name !== this.participant.workingOnStage().name) {
      <div class="mask">
        <!-- TODO: should probably disable editing in individual stage components as well -->
      </div>
    }
  </div>

  @if (this.participant.userData().futureStageNames.length !== 0) {
    <button color="primary" mat-button (click)="nextStep()">
      <!-- [disabled]="!this.dataService.stageComplete()"  -->
      <!-- <mat-icon>redo</mat-icon> -->
      <span>Next step</span>
    </button>
  }
</div>
