<div class="toolbar" role="banner">
  <span class="title">Experiment: {{ stateService.appName() }}</span>
  <div class="spacer"></div>
  @if (authService.credential(); as creds) {
    <div>
      <img class="profileImg" [src]="creds.picture" alt="profile picture" />
    </div>
  } @else {
    <div #googleButton></div>
  }
  <a class="small-logo" aria-label="PAIR" href="https://pair.withgoogle.com/" title="Home">
    <img src="/assets/pair-logo.svg" alt="PAIR logo" />
  </a>
</div>

<div class="content" role="main">
  @if (error) {
    <div class="error">{{ error }}</div>
  }
  @if (authService.credential(); as creds) {
    <div>
      <p>
        You are logged in as an experiment, you can
        <a routerLink="experimenter">view experiments</a> or
        <a routerLink="experimenter/create-experiment">create a new one</a>
      </p>
    </div>
  }

  <div>
    To join an experiment, enter your access code:
    <mat-form-field class="full-width">
      <mat-label>Access code</mat-label>
      <input matInput placeholder="Write your response" [(ngModel)]="accessCodeValue" />
    </mat-form-field>
    <button color="primary" mat-button (click)="joinExperiment()">
      <!-- [disabled]="!this.dataService.stageComplete()"  -->
      <!-- <mat-icon>redo</mat-icon> -->
      <span>Join the experiment</span>
    </button>
  </div>
</div>
