.main {
  padding: 2rem 1rem;
}

label {
  font-weight: bold;
  -webkit-user-select: none;
  user-select: none;
}

.vote-radio-group {
  display: flex;
  align-items: center;

  .vote-radio-button {
    margin: 5px;
    -webkit-user-select: none;
    user-select: none;
  }

  .vote-clear-button {
    margin-left: 10px;
  }
}
