@if (error() == null) {
<div class="main">
    <h2>Terms of Service</h2>
    <p>
      Please read and accept the following terms of service before proceeding:
    </p>
  
    <ul>
      <li>Term 1: Lorem ipsum dolor sit amet.</li>
      <li>Term 2: Consectetur adipiscing elit.</li>
      <!-- Add more terms as needed -->
    </ul>
  
    <mat-checkbox required (MatCheckboxChange)="updateCheckboxValue($event)">
      I accept the terms of service
    </mat-checkbox>
  </div>
} @else {
    <div class="error">
        {{error()}}
    </div>
}
