<div class="item-pair">
  <div class="title">{{ question.data.questionText }}</div>
  <div class="item-pair-displays">
    <button
      class="item-pair-item {{ question.data.rating.choice === 'item1' ? 'selected' : '' }}"
      (click)="setChoice('item1')"
    >
      <img
        src="{{ question.data.rating.item1.imageUrl }}"
        alt="{{ question.data.rating.item1.name }}"
      />
      <span class="item-pair-item-name">{{ question.data.rating.item1.name }}</span>
    </button>
    <button
      class="item-pair-item {{ question.data.rating.choice === 'item2' ? 'selected' : '' }}"
      (click)="setChoice('item2')"
    >
      <img
        src="{{ question.data.rating.item2.imageUrl }}"
        alt="{{ question.data.rating.item2.name }}"
      />
      <span class="item-pair-item-name">{{ question.data.rating.item2.name }}</span>
    </button>
  </div>

  @if (question.data.rating.choice !== null) {
    <div class="item-pair-confidence">
      <div class="confidence-value">
        <strong>Confidence:</strong>
        <span class="value {{ question.data.rating.confidence === null ? 'not-rated' : '' }}">
          {{
            question.data.rating.confidence !== null
              ? question.data.rating.confidence.toFixed(1)
              : 'Not rated'
          }}
        </span>
      </div>
      <div class="slider-container">
        @if (question.data.rating.confidence === 0 || question.data.rating.confidence === null) {
          <span class="slider-end-label"><b> 50/50 🤷</b></span>
        } @else {
          <span class="slider-end-label">50/50 🤷</span>
        }
        <mat-slider min="0.5" max="1" step="0.1" discrete>
          <input
            matSliderThumb
            (valueChange)="setConfidence($event)"
            value="{{ question.data.rating.confidence }}"
          />
        </mat-slider>
        @if (question.data.rating.confidence === 1) {
          <span class="slider-end-label"
            >👍<b> Full <br />confidence</b></span
          >
        } @else {
          <span class="slider-end-label">👍 Full <br />confidence</span>
        }
      </div>
    </div>
  }
</div>
