<div class="main">
  @for (itemPair of stageData().ratings; track $index) {
    <div class="item-pair">
      <div class="item-pair-displays">
        <div class="item-pair-item">
          <img src="{{ itemPair.item1.imageUrl }}" alt="{{ itemPair.item1.name }}" />
          <span class="item-pair-item-name">{{ itemPair.item1.name }}</span>
        </div>
        <div class="item-pair-item">
          <img src="{{ itemPair.item2.imageUrl }}" alt="{{ itemPair.item2.name }}" />
          <span class="item-pair-item-name">{{ itemPair.item2.name }}</span>
        </div>
      </div>
      <div class="item-pair-confidence">
        <div class="confidence-value">
          <strong>Confidence:</strong> {{ itemPair.confidence ? itemPair.confidence.toFixed(2) : 'Not rated' }}
        </div>
        <div class="slider-container">
          <!-- <span class="slider-end-label">-1</span> -->
          <mat-slider min="-1" max="1" step="0.1" discrete>
            <input matSliderThumb (valueChange)="updateSliderValue($event, $index)" value="0" />
          </mat-slider>
          <!-- <span class="slider-end-label">1</span> -->
        </div>
      </div>
    </div>
  }
</div>
