.main {
  padding: 2rem 1rem;
  width: 540px;
}

label {
  font-weight: bold;
  -webkit-user-select: none;
  user-select: none;
}

.pronouns-radio-group {
  display: flex;
  align-items: center;

  .pronouns-radio-button {
    margin: 5px;
    -webkit-user-select: none;
    user-select: none;
  }
}

mat-slider {
  width: 300px;
}

.bound {
  word-wrap: break-word;
  width: 100px;
}

// rating component
.item-pair {
  width: 100%;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  border-bottom: 1px dashed lightgray;

  .title {
    width: 100%;
    font-size: 1rem;
    margin-bottom: 10px;
  }
}

.item-pair-displays {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .item-pair-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    border-radius: 16px;
    box-sizing: border-box;
    border: 4px solid transparent;
    margin: 0px 6px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;

    &.selected {
      border-color: rgba(93, 121, 247, 0.661);
      background-color: rgb(226, 228, 236);
    }

    &:hover {
      border: 4px solid rgba(93, 121, 247, 0.661);
    }

    img {
      border-radius: 4px;
      padding: 5px;
      width: 150px;
      height: 150px;
      object-fit: contain;
    }

    .item-pair-item-name {
      font-size: 1rem;
      margin-top: 5px;
    }
  }
}

.item-pair-confidence {
  width: 100%;
  margin-top: 5px;
  padding: 0.75rem 1rem;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  .confidence-value {
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .value {
      margin-left: 6px;
      border-radius: 5px;
      padding: 0.125rem 0.25rem;
      background-color: rgb(208, 216, 252);

      &.not-rated {
        background-color: rgb(229, 73, 56);
        color: #fff;
      }
    }
  }
}

.slider-container {
  margin-left: 10px;
  display: flex;
  align-items: center;

  .slider-end-label {
    opacity: 0.5;
    margin: 8px;
  }

  mat-slider {
    width: 100px;
  }
}
